@import 'variables.scss';

.components__button {
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 30px;
  outline: none;
  transition: background-color ease-in 200ms;
  &:focus {
    outline: none;
  }
}

.components__button_primary {
  background-color: $ro-colors-primary;

  &:hover, &:focus, &:active {
    background-color: $ro-colors-toggled;
  }

  &:disabled {
    background-color: $ro-colors-secondary;
  }
}

.components__button_danger {
  background-color: $ro-colors-error-normal;

  &:hover, &:focus, &:active {
    background-color: $ro-colors-error-toggled;
  }

  &:disabled {
    background-color: $ro-colors-error-secondary;
  }
}