@import 'variables.scss';

$base-button-text-color: white;

.components__button {
  border: none;
  color: $base-button-text-color;
  border-radius: 30px;
  outline: none;
  transition: background-color ease-in 200ms;

  &:focus {
    outline: none;
  }

  .button__icon {
    width: 20px;
    height: 20px;
  }
}

.components__button_small {
  padding: 0px 15px;
}

.components__button_normal {
  padding: 10px 15px;
}

.components__button_primary {
  background-color: $ro-colors-primary;

  &:hover, &:focus, &:active {
    background-color: $ro-colors-toggled;
  }

  &:disabled {
    background-color: $ro-colors-secondary;
  }
}

.components__button_danger {
  background-color: $ro-colors-error-normal;

  &:hover, &:focus, &:active {
    background-color: $ro-colors-error-toggled;
  }

  &:disabled {
    background-color: $ro-colors-error-secondary;
  }
}

.components__button_success {
  background-color: $ro-colors-success-normal;

  &:hover {
    background-color: $ro-colors-success-toggled;
  }

  &:disabled {
    background-color: $ro-colors-success-secondary;
  }
}


.components__button_default {
  background-color: $ro-colors-base-element-background;
  color: $ro-colors-base-element-opposite;

  &:hover, &:focus, &:active {
    color: $base-button-text-color;
    background-color: $ro-colors-toggled;
  }

  &:disabled {
    background-color: transparentize($color: $ro-colors-base-element-opposite, $amount: 0.95);
  }
}