@import '../../variables.scss';

.component__dish {
  width: 100%;
  background-color: $ro-colors-base-element-background;
  border-radius: 25px;

  .dish__image {
    width: 180px;
    height: 180px;
  }
}