
@import '../../../variables.scss';

.image-container-hover {
  transition: background-color ease-out 500ms;
  img {
    transition: opacity ease-out 500ms;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.7);

    img {
      opacity: 0.4;
    }

    .no-image-preview__label {
      display: none;
    }

    .image-upload {
      display: flex;
      justify-content: center;
    }
  }
}

.image-container {
  img {
    width: 100%;
  }

  .loading-spinner-wrapper {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
  }

  .image-upload {
    position: absolute;
    top: calc(50% - 1.4rem);
    left: 10%;
    width: 80%;
    display: none;
    cursor: pointer;
  }
  
  .image-container__no-image-preview {
    border: 1px solid $ro-colors-gray-medium;

    .no-image-preview__label {
      color: $ro-colors-gray-medium;
    }
  }
}
