@import 'variables.scss';

.components__input-holder {
  @include ro-shadow-transition;

  min-height: 2rem;

  display: flex;
  background-color: white;
  border: 1px solid $ro-colors-gray-medium;
  border-radius: 20px;

  input {
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 100%;

    &::placeholder {
      font-weight: $ro-font-thin-weight;
    }
  }

  &:focus-within {
    @include ro-basic-shadow;
  }
}

.components__input-holder_textarea {
  resize: none;
  outline: none;
  padding: 10px 15px;
  width: 100%;

  &::placeholder {
    font-weight: $ro-font-thin-weight;
  }
}