@import '../../../variables.scss';

.cart-dish {
  background-color: $ro-colors-base-element-background;
  padding: 10px 20px;
  border-radius: 25px;
  
  .cart-dish__image-wrapper {
    width: 90px;
    height: 90px;
  }

  .cart-dish__price {
    width: 80px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}