// Thin fonts
.ro-font-thin-small {
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

// Light fonts
.ro-font-light-small {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

.ro-font-light-middle {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.9rem;
}

// Regular fonts
.ro-font-regular-small {
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.2rem;
}

// Medium fonts
.ro-font-medium-middle {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.9rem;
}