@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import 'colors.scss'; 
@import 'effects.scss'; 
@import 'fonts.scss'; 
@import 'react-toastify.scss';

html, body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  font-family: 'Roboto', sans-serif !important;
  font-size: 20px !important;
  line-height: 32px !important;
  font-weight: 300 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  min-height: 100%;
}

body {
  background-color: $ro-colors-background !important;
}

#root {
  display: flex;
  flex-direction: column;
}

// Override bootstrap modal dialog borders
.modal-content {
  border: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-end {
  text-align: end;
}

.ro-text-small {
  font-size: 0.8rem;
}

.ro-word-wrap-disabled {
  white-space: nowrap;
}
