@import '../../variables.scss';

.component__category {
  width: 125px;
  border-radius: 20px;
  background-color: $ro-colors-base-element-background;
  padding: 7px 0;
  color: $ro-colors-gray-medium;
  transition: $ro-effects-base-shadow-transition, background-color linear 300ms;
  color: black;

  .category__image-container {
    background-color: $ro-colors-base-element-background;
    border: 1px solid $ro-colors-gray-medium;
    border-radius: 20px;
    width: 110px;
    height: 110px;
    margin: 0 7px;
    padding: 20px;
    overflow: hidden;
  }

  .category__label {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    @include ro-small-shadow();
  }
}

.component__category_selected {
  background-color: $ro-colors-primary;
  color: white;
}